Repository daichan2019/rinoto: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write

feat: add middleware
  .vscode/settings.json
  src/app/auth/callback/route.ts
  src/app/layout.tsx
  src/app/login/page.tsx
  src/middleware.ts
  src/utils/supabase/cilent.ts
  src/utils/supabase/middleware.ts
  src/utils/supabase/server.ts
Due: biome check --apply, biome format --write

feat: add authentication with google
  public/images/google.svg
  src/app/auth/callback/route.ts
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/protected/page.tsx
  src/components/auth-button.tsx
  src/utils/supabase/client.ts
Due: biome check --apply

fix: remove unused file
  src/components/auth-button.tsx
Due: biome check --apply

fix: fix else if lint error
  public/images/google-logo.svg
  src/actions/auth.ts
  src/app/auth/callback/route.ts
  src/app/login/page.tsx
  src/app/protected/page.tsx
  src/utils/supabase/server.ts
Due: biome check --apply

fix: convert tab to space
  .lintstagedrc.json
  .vscode/settings.json
  biome.json
  package.json
  postcss.config.mjs
  src/actions/auth.ts
  src/app/auth/callback/route.ts
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/protected/page.tsx
  src/middleware.ts
  src/utils/supabase/client.ts
  src/utils/supabase/middleware.ts
  src/utils/supabase/server.ts
  tailwind.config.ts
  tsconfig.json
Due: biome check --apply, biome format --write

ci: add biome settings
  .vscode/settings.json
  biome.json
  src/actions/auth.ts
  src/app/login/page.tsx
Due: biome check --apply, biome format --write

feat: add routes groups
  .vscode/extensions.json
  biome.json
  package.json
  src/app/(protected)/layout.tsx
  src/app/(protected)/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/protected/page.tsx
  src/utils/supabase/middleware.ts
Due: biome check --apply, biome format --write

feat: add prisma
  package-lock.json
  package.json
  prisma/migrations/20240812115147_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app/(protected)/page.tsx
Due: biome check --apply, biome format --write

feat: get preset audios
  src/actions/auth.ts
  src/app/(protected)/page.tsx
  src/app/api/auth/callback/route.ts
  src/app/api/preset-audios/route.ts
  src/lib/prisma.ts
Due: biome check --apply

feat: add create user method
  prisma/migrations/20240813120712_init/migration.sql
  prisma/migrations/20240813121708_init/migration.sql
  prisma/migrations/20240813123125_init/migration.sql
  prisma/migrations/20240813125957_init/migration.sql
  prisma/schema.prisma
  src/app/(protected)/page.tsx
  src/app/api/auth/callback/route.ts
  src/lib/prisma.ts
  src/lib/prisma/index.ts
Due: biome check --apply

refactor: move supabase directory to lib
  src/actions/auth.ts
  src/app/(protected)/page.tsx
  src/app/api/auth/callback/route.ts
  src/lib/supabase/client.ts
  src/lib/supabase/middleware.ts
  src/lib/supabase/server.ts
  src/middleware.ts
Due: biome check --apply

fix: fix root layout style
  src/app/(protected)/page.tsx
  src/app/layout.tsx
  src/components/header.tsx
Due: biome check --apply

feat: add get session user
  src/app/(protected)/page.tsx
  src/app/api/auth/user/route.ts
  src/components/header.tsx
Due: biome check --apply

fix: fix set cookie
  src/app/(protected)/page.tsx
  src/app/api/auth/user/route.ts
  src/app/api/preset-audios/route.ts
  src/components/header.tsx
  src/lib/supabase/server.ts
Due: biome check --apply

fix: fix biome config
  .vscode/settings.json
  biome.json
  src/app/api/auth/callback/route.ts
Due: biome check --apply, biome format --write

wip
  components.json
  package-lock.json
  package.json
  src/app/(protected)/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/custom-audio-creator.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/slider.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/lib/utils.ts
  tailwind.config.ts
Due: biome check --apply, biome format --write

fix: remove unused fetch
  src/app/(protected)/custom-audios/new/page.tsx
  src/app/(protected)/page.tsx
Due: biome check --apply

chore: fix lib directory
  src/lib/prisma.ts
Due: biome check --apply

chore: fix
  src/components/header.tsx
  src/components/ui/use-toast.ts
  src/lib/baseUrl.ts
  src/lib/supabase/middleware.ts
Due: biome check --apply

feat: update middleware redirect handling
  src/middleware.ts
Due: biome check --apply

fix: fix error message
  src/actions/auth.ts
  src/middleware.ts
Due: biome check --apply

chore: update migrate script alias
  package.json
Due: biome format --write

wip
  package-lock.json
  package.json
  src/app/(protected)/custom-audios/new/page.tsx
  src/components/header.tsx
  src/components/ui/navigation-menu.tsx
  src/lib/baseUrl.ts
Due: biome check --apply, biome format --write

feat: add header style
  package-lock.json
  package.json
  public/images/user-circle.svg
  src/components/custom-audio-creator.tsx
  src/components/header.tsx
  src/components/ui/avatar.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/slider.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/lib/supabase/middleware.ts
Due: biome check --apply, biome format --write

wip
  src/actions/auth.ts
  src/app/(protected)/page.tsx
  src/components/header.tsx
  src/components/ui/avatar.tsx
  src/components/ui/dropdown-menu.tsx
  src/middleware.ts
Due: biome check --apply

fix: fix actions
  src/actions/get-session.ts
  src/actions/get-user.ts
  src/app/(protected)/page.tsx
  src/app/api/auth/user/route.ts
  src/app/api/preset-audios/route.ts
  src/components/header.tsx
Due: biome check --apply

fix: error handling
  src/app/api/auth/user/route.ts
  src/app/api/preset-audios/route.ts
  src/components/header.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/navigation-menu.tsx
Due: biome check --apply

fix: fix get preset audios routes
  src/actions/get-preset-audios.ts
  src/app/(protected)/custom-audios/new/page.tsx
  src/app/api/auth/user/route.ts
Due: biome check --apply

fix: delete unused routes
  src/app/api/preset-audios/route.ts
Due: biome check --apply

fix: fix get audio
  src/actions/get-preset-audios.ts
  src/app/(protected)/custom-audios/new/page.tsx
Due: biome check --apply

feat: get preset audios
  src/actions/get-preset-audios.ts
  src/app/(protected)/custom-audios/new/page.tsx
Due: biome check --apply

feat: create audio card component
  src/app/(protected)/custom-audios/new/page.tsx
  src/components/audio-card.tsx
  src/components/ui/card.tsx
Due: biome check --apply

feat: add duration handler
  package-lock.json
  package.json
  src/app/(protected)/custom-audios/new/page.tsx
  src/components/custom-audio-creator.tsx
  src/components/custom-audio-duration-setter.tsx
  src/components/ui/label.tsx
Due: biome check --apply, biome format --write

fix: fix form
  src/app/(protected)/custom-audios/new/page.tsx
  src/components/audio-card.tsx
  src/components/create-custom-audio-form.tsx
  src/components/ui/alert.tsx
Due: biome check --apply

feat: custom audio preview
  src/components/audio-card.tsx
  src/components/create-custom-audio-form.tsx
  src/components/ui/alert.tsx
  src/components/ui/custom-audio-preview.tsx
Due: biome check --apply

fix: fix text ja
  src/components/audio-card.tsx
  src/components/ui/custom-audio-preview.tsx
Due: biome check --apply

Path conditions:
  biome check --apply: any of: *.{js,jsx,ts,tsx}
  biome format --write: any of: *.{json,md}
